# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode
.vscode/
.vscode/arduino.json
.vscode/settings.json
.vscode/tasks.json
.vscode/c_cpp_properties.json

#custom
.DS_Store
*.cmd
*.ino
*.old
*.txt
*.ori
*.alt
*.cache

build/core
build/sketch
build/libraries
build/build_opt.h
build/.last-used
build/build.options.json
build/compile_commands.json
build/Brautomat-ESP32.ino.elf
build/Brautomat-ESP32.ino.map
build/Brautomat-ESP32.ino.partitions.bin
build/Brautomat-ESP32.ino.bootloader.bin
build/file_opts
build/includes.cache
build/partitions.csv
build/libraries.cache

data/config.txt
tools/Brautomat-ESP32.ino.bin
tools/Brautomat-ESP32.mklittlefs.bin
tools/Brautomat-ESP32.ino.partitions.bin
tools/Brautomat-ESP32.ino.bootloader.bin
tools/esptool.exe
tools/Flashen.cmd
tools/buildFirm.cmd
web/
FSBrowser/
*.ino
*.h
*.cpp
*.hintrc
README.md
PINMAP.txtInfos.txt
